<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app1/css/register_style.css' %}">
    <title>Document</title>
</head>
<body class="registration-container">
<h2>ログイン</h2>
    <form method="post">
    {% csrf_token %}
    <div class = form-group>
    <label for="id_user_name" class = "form-label">ユーザ名:</label>
    <input type="text" name="username" maxlength="50" required="" id="id_user_name" class="form-input" placeholder="ユーザ名">
    </div>
    <div class = form-group>
    <label for="id_password" class="form-label">パスワード:</label>
    <input type="password" name="password" maxlength="50" id="id_password" class = "form-input" placeholder="パスワード">
    </div>
    <button type="submit" class="submit-btn">ログイン</button>
</form>
<br>
<a href="/user_resistration" class="login-link">新規登録</a>
<br>
<a href="/" class="registration-link">ゲストとして続行</a>

</body>
</html>