<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>セカンドガイド - ガイドブック詳細</title>
    
    {% load static %}
    <link rel="stylesheet" href ="{% static 'app1/css/guidebook.css' %} ">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <button onclick="window.location.href='/general/'" class="back-button">
            <i class="fas fa-arrow-left"></i> 戻る
        </button>
        <h3 class="text-center">{{guidebook.title}}</h3>
        
        {% if guidebook.picture %}
            <div class="guidebook-image">
                <img src="{{ guidebook.picture.url }}" alt="{{ guidebook.title }}">
            </div>
        {% endif %}

        <p>{{guidebook.body|linebreaksbr}}</p>
    </div>
</body>
</html>